@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply text-white;

    --thumbnail-margin: 8px;
    --thumbnail-margin-double: calc(var(--thumbnail-margin) * 2);
    --thumbnail-width: 224px;
    --main-mdd-width: calc(var(--thumbnail-width) * 2 + var(--thumbnail-margin) * 6);
    --main-lg-width: calc(var(--thumbnail-width) * 3 + var(--thumbnail-margin) * 8);
}

body {
    background: linear-gradient(319deg, #4d1212, #5ad0ff, #09284d);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

/* https://www.gradient-animator.com/ */
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* ---------------- scroll bar */
/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
*::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
