@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply text-white;

    --thumbnail-margin: 8px;
    --thumbnail-margin-double: calc(var(--thumbnail-margin) * 2);
    --thumbnail-width: 224px;
    --main-mdd-width: calc(var(--thumbnail-width) * 2 + var(--thumbnail-margin) * 6);
    --main-lg-width: calc(var(--thumbnail-width) * 3 + var(--thumbnail-margin) * 8);
}

html {
    @apply bg-blue-300;
}

h1, h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: white white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 4px;
}

*::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0);
opacity: 0;
}

*::-webkit-scrollbar-thumb {
background-color: white;
opacity: 0;

border-radius: 10px;
border: 0px solid white;
}