@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply text-white;

    --thumbnail-margin: 8px;
    --thumbnail-margin-double: calc(var(--thumbnail-margin) * 2);
    --thumbnail-width: 224px;
    --main-mdd-width: calc(var(--thumbnail-width) * 2 + var(--thumbnail-margin) * 6);
    --main-lg-width: calc(var(--thumbnail-width) * 3 + var(--thumbnail-margin) * 8);
}

h1, h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

/* ===== Scrollbar CSS ===== */
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* ===== Background ===== */
html {
	background: linear-gradient(-45deg, #d76542 10%, #3c4de7, #6be9f7, #3dac60);
	background-size: 1200% 1200%;
	animation: gradient 20s ease infinite;
	height: 140vh;
}

@media (max-width: 820px) {
    html {
            background-size: 1600% 1600%;
        }
    }

@media (max-width: 550px) {
html {
	    background-size: 3200% 3200%;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
